//Colors
$color-dark-shade:#1F2041;
$color-dark-shade-75:rgba(31, 32, 65, 0.75);
$color-dark-shade-50:rgba(31, 32, 65, 0.5);
$color-dark-shade-25:rgba(31, 32, 65, 0.25);
$color-dark-shade-5:rgba(31, 32, 65, 0.5);
$color-purple:#BC9CFF;
$color-green:#6FCF97;
$color-body:#E5E5E5;

