@import '../../assets/scss/colors.scss';

.container {
    max-width: 1428px;
    padding: 0 30px;
    margin: auto;
}
.header {
    padding: 29px 0;
}
.logo {
    width: 48px;
    height: 48px;
}




