extends ../main-layout/main-layout

include ../../block/color/colors


block title 
  title Colors & Type
  block content   
    include ../../block/header-top/header-top
  
  
     




























