extends ../layout/main

block content
    section-color
        .container-alt
            .logo 
                img(src="assets/img/logo.png" alt="")
        .container
            section-type
                .section-color
                        .section-color__black
                        .section-color__gray
                        .section-color__gray-alt
                        .section-color__silver
                        .section-color__white
                        .section-color__purple
                        .section-color__green                   
                .section-type
