extends ../layout/main

block content
  section-color
    .container-alt
      .logo 
        img(src="assets/img/logo.png" alt="")
    .container
      section-type
        .section-color
          .wrapper
            .section-color__black
            h1 Dark Shade 100% <br> #1F2041
          .wrapper
            .section-color__gray
            h1 Dark Shade 100% <br> #1F2041               
          .wrapper
            .section-color__gray-alt
            h1 Dark Shade 100% <br> #1F2041 
          .wrapper
            .section-color__silver
            h1 Dark Shade 100% <br> #1F2041 
          .wrapper
            .section-color__white
            h1 Dark Shade 100% <br> #1F2041 
          .wrapper
            .section-color__purple
            h1 Dark Shade 100% <br> #1F2041 
          .wrapper
            .section-color__green  
            h1 Dark Shade 100% <br> #1F2041          
                    
        .section-type

