extends ../layout/main

block content 
  section-elemets
    .container-alt
      .logo 
        img(src="assets/img/logo.png" alt="")
    .container
      .row
        .col 
          form(action="" method="method").form-field
            label.style-d(for="") Text Field
            label.style-d-alt(for="") Default
        .col 
          form(action="" method="method").form-field
            label.style-d(for="") Checkbox Buttons
         
        .col 
          form(action="" method="method").form-field
            label.style-d(for="") Range Slider
             


