//Fonts

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url('/assets/fonts/Quicksand/Quicksand-Bold.eot');   
    src: url('/assets/fonts/Quicksand/Quicksand-Bold.otf');   
    src: url('/assets/fonts/Quicksand/Quicksand-Bold.svg');   
    src: url('/assets/fonts/Quicksand/Quicksand-Bold.ttf');   
    src: url('/assets/fonts/Quicksand/Quicksand-Bold.woff');   
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url('/assets/fonts/Quicksand/Montserrat-Bold.eot');   
    src: url('/assets/fonts/Quicksand/Montserrat-Bold.otf');   
    src: url('/assets/fonts/Quicksand/Montserrat-Bold.svg');   
    src: url('/assets/fonts/Quicksand/Montserrat-Bold.ttf');   
    src: url('/assets/fonts/Quicksand/Montserrat-Bold.woff');   
}
