//Colors

$color-body:rgba(31, 32, 65, 0.75);
$primary-color: #1F2041;
$color-gray:rgba(31, 32, 65, 0.75);
$color-gray-alt:rgba(31, 32, 65, 0.5);
$color-silver: rgba(31, 32, 65, 0.25);
$color-white:rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-green:#6FCF97;


// .text-success

// .text-danger

// .text-warning

// .text-info