section-elemets {
    .logo {
        padding-top: 30px;
    }
    .form-field {
        margin-top: 63px;   
        
        label.style-d {
            margin-right: 196px;
            margin-bottom: 8px;
        } 
    }
}