section-elemets {
  .logo {
    padding-top: 30px;
  }
  form {
    margin-top: 65px;    
  }
  .margin{
    margin-top: 40px;
  }
  .wrapper {
    flex-wrap: wrap;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;    
  }
  .row {
    display: flex;
  }
  .col {
    max-width: 33.33333%;
    padding: 0 30px;
  }
  input {
    margin: 0 0 20px auto;
  }
  .dropdown {
    margin-bottom: 20px;
  }
  .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .inpute__date {
    margin-bottom: 40px;
  }
  .label__drop{
   margin-right: 30px;
  }
  .wrapper-input {
    position: relative; 
    margin-bottom: 100px;
  }
  .arrow {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-top: 13px;
    padding-right: 15px;
  }
 
}
